h1{
  color: #b60732;
  text-align: center;
  font-family: "游明朝", serif;
}
h2{
  color: #3d3937;
  font-family: "游明朝", serif;
}
body{
  background-color: #e6d8d9;
}
.content{
  background-color: white;
  margin: auto;
  max-width: 600px;
  font-family: "游明朝", serif;
}
.copyright{
  text-align: center;
}
