@charset "UTF-8";
h1{
  color: crimson;
  font-family: "Century Oldstyle", serif;
  font-size: 2rem;
  font-weight: lighter;
  max-width: 600px;
}
h2{
  color: #3d3937;
  font-family: "Cambria", "游明朝", serif;
  border-bottom: 1px solid;
}
.header{
  max-width: 600px;
  margin: auto;
}
.language{
  vertical-align: top;
  font-size: 1rem;
}
.content{
  padding: 50px;
  margin: auto;
  max-width: 600px;
  font-family: "Cambria", "游明朝", serif;
}
.footer{
  font-family: "游明朝", serif;
  margin: auto;
  max-width: 600px;
}
.copyright{
  text-align: center;
}
